@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --white: #ffffff;
  --primary-blue: #2563eb;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary-blue: var(--primary-blue);
  --font-roboto: var(--font-roboto);
  --font-inter: var(--font-inter);
  --font-rockabilly: var(--font-rockabilly);
  --font-sansita-one: var(--font-sansita-one);
  --font-dm-sans: var(--font-dm-sans);
  --font-ah-naskh-hadith: var(--font-ah-naskh-hadith);
  --shadow-blue: 0px 8px 25.5px 0px rgba(37, 99, 235, 0.36);
  --shadow-white: 0px 8px 25.5px 0px rgba(255, 255, 255, 0.36);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-roboto);
  font-weight: 400;
}
.main-container {
  max-width: 1253px;
  margin: 0 auto;
  padding: 0 16px;
}
.heading-h2 {
  @apply text-[26px] lg:text-[32px] font-semibold;
}
.heading-h3 {
  @apply font-semibold text-[28px] md:text-[26px] lg:text-[34px] xl:text-[42px];
}
.heading-normal {
  @apply text-base sm:text-lg font-semibold;
}
.heading-h2-lg {
  @apply font-semibold text-[32px] md:text-[36px] lg:text-[42px];
}
.light-paragraph {
  @apply text-sm font-light;
}
.paragraph-light-main {
  @apply text-sm text-[#94A3B8];
}
.blue-little-text {
  @apply text-primary-blue uppercase tracking-[12%] font-medium text-sm sm:text-[13px];
}
.box-blur-1 {
  width: 320px;
  height: 320px;
  background: rgba(27, 49, 52, 1);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  filter: blur(200px);
  z-index: -1;
  pointer-events: none;
}
.box-blur-2 {
  width: 320px;
  height: 320px;
  background: rgba(37, 99, 235, 1);
  border-radius: 50%;
  position: absolute;
  top: 20%;
  left: 0px;
  transform: translate(-50%, -50%);
  filter: blur(200px);
  z-index: -1;
  pointer-events: none;
}
.box-blur-3 {
  width: 456px;
  height: 456px;
  background: rgba(130, 239, 252, 0.73);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: -60%;
  overflow: hidden;
  transform: translate(-50%, -50%);
  filter: blur(200px);
  z-index: -1;
  pointer-events: none;
}
.box-blur-4 {
  width: 456px;
  height: 456px;
  background: rgba(37, 99, 235, 1);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  overflow: hidden;
  transform: translate(-50%, -50%);
  filter: blur(200px);
  z-index: -1;
  pointer-events: none;
}
.box-blur-5 {
  width: 456px;
  height: 456px;
  background: rgba(37, 99, 235, 0.7);
  border-radius: 50%;
  position: absolute;
  top: 5%;
  left: 50%;
  overflow: hidden;
  transform: translate(-50%, -50%);
  filter: blur(200px);
  z-index: 2;
  pointer-events: none;
}
.box-blur-6 {
  width: 293px;
  height: 293px;
  background: rgba(130, 239, 252, 1);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  overflow: hidden;
  transform: translate(-50%, -50%);
  filter: blur(200px);
  z-index: 1;
  pointer-events: none;
}
.main-navbar {
  @apply text-white text-[15px];
}
.box-shadow {
  box-shadow: 0px 13px 11.2px 0px rgba(37, 99, 235, 0.04);
}
.box-shadow-2 {
  box-shadow: 0px 13px 16.1px 0px rgba(0, 0, 0, 0.06);
}
.box-shadow-3 {
  box-shadow: 4px 7px 7.6px 0px rgba(0, 0, 0, 0.04);
}
.box-shadow-blue {
  box-shadow: 0px 8px 25.5px 0px rgba(37, 99, 235, 0.36);
}
.box-shadow-black {
  box-shadow: 0px 8px 25.5px 0px rgba(0, 0, 0, 0.36);
}

.main-btn {
  @apply flex items-center justify-center gap-2 text-sm sm:text-[15px] px-4 sm:px-6 py-3 rounded-[22px] transition-all duration-300;
}

.linear-g-blue {
  background: linear-gradient(90deg, #2563eb 0%, #153885 100%);
}
.after-bg-layer::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Adjust the opacity as needed */
  /* z-index: -1; */
}
.after-bg-blue::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("/images/tiny-dots.png") repeat center center;
  z-index: 1;
}
.after-bg-blue-lines-group::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("/images/lines-group.png") repeat center center;
  border-radius: 44px;
  /* z-index: -1; */
}
